@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
h1{
  font-family: 'Reggae One', cursive;
  text-align: center;
  color:darkcyan;
  padding-top:3%;
}
.sec{
  display:flex;
  justify-content: space-evenly;
}
.sec img{
  box-shadow:rgb(199, 196, 196) 3px 0 3px 3px;
  height:250px;
  width:200px
}
.title,.director{
  font-size:1em;
  width:57%;
  line-height:25px;
  color:darkcyan;
}
.year{
  color:dodgerblue;
  font-size:1em;
}